@import "tailwindcss";

*{
  /* border: 1px solid red; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


::selection {
  background-color: black; 
  color: #FDE037; 
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.fade-animation {
  animation: fadeInOut 2s ease-in-out infinite;
}


